# os
.DS_Store

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local
*.env
*.pem
*.local

# ai
*.ai

# logs
logs
_.log

# dependencies
node_modules

# artifacts
dist
results
*.tsbuildinfo
*.tgz

# testing
coverage